@model Project_Sigma.Models.Client

@{
    ViewBag.Title = "Удаление пользователя";
}

<div class="row justify-content-center m-3">
    <div class="ol-sm-8">
        <div class="card">
            <div class="card-header text-center">
                <p class="lab-title"> Имя и Фамилия пользователя </p>
                <p class="lab-title">@Html.DisplayFor(model=> model.SurName)  @Html.DisplayFor(model => model.Name) </p>
            </div>
            <div class="text-center card-body">
                <form asp-controller="Client" asp-action="Delete" method="post">
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Удалить" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
