# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Project_Sigma.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\yaros\Documents\GitHub\SigmaSoft\Project_Sigma\.idea\.idea.Project_Sigma\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
