@model Project_Sigma.Models.Pizza

@using (@Html.BeginForm())
{
<form asp-route-id="@Model.IdPizza">
    <div class="row justify-content-center m-3">
        <div class="ol-sm-8">
            <div class="card">
                <div class="card-header text-center">
                    <h1>Название пиццы: @Model.Name</h1>

                    <h2>Цена: @Model.ResultPrice.ToString("c")</h2>
                </div>
                <div class="card-body text-center">
                  Количество  <input type="number" name="qty" value="1" min="1" max="100" id="qty" />
                </div>
                <div class="card-footer text-center">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </div>
            </div>
    </div>
</form>
}
